[submodule "Assets/Plugins/Suburb/Screens"]
	path = Assets/Plugins/Suburb/Screens
	url = https://github.com/coderubrika/UnityScreens
[submodule "Assets/Plugins/Suburb/Inputs"]
	path = Assets/Plugins/Suburb/Inputs
	url = https://github.com/coderubrika/UnityInputs
[submodule "Assets/Plugins/Suburb/ExpressRouter"]
	path = Assets/Plugins/Suburb/ExpressRouter
	url = https://github.com/coderubrika/ExpressRouter
[submodule "Assets/Plugins/Suburb/Utils"]
	path = Assets/Plugins/Suburb/Utils
	url = https://github.com/coderubrika/UnityUtils
