[submodule "Assets/Src/Screens"]
	path = Assets/Src/Screens
	url = https://github.com/coderubrika/UnityScreens
[submodule "Assets/Src/Utils"]
	path = Assets/Src/Utils
	url = https://github.com/coderubrika/UnityUtils
[submodule "Assets/Src/Inputs"]
	path = Assets/Src/Inputs
	url = https://github.com/coderubrika/UnityInputs
